@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-rows: min-content 1fr;
  overflow-x: hidden;
  background: #f9fafd;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ============================================================================================ */

.container {
  width: 90%;
  max-width: 1440px;
  padding-inline: 2rem;
  margin-inline: auto;
}
/* ====== Header section ====== */
.top--nav {
  background: linear-gradient(180deg, #4c38ee 0%, #543dff 100%);
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 20px;
  height: 40px;
  font-size: 16px;
}

.top--nav__items li {
  display: inline-flex;
  margin-inline: 10px;
}
.top--nav__items li a {
  text-decoration: none;
  color: #fff;
}

header {
  background: linear-gradient(
    122.29deg,
    #4c38ee 40.13%,
    rgba(76, 56, 238, 0.3) 133.77%
  );
  height: 100vh;
  padding-bottom: 30px;
}

header .container {
    width: 100%;
}

.navbar {
  display: flex;
  padding-block: 30px;
}

.navbar .header--logo {
  margin-right: 50px;
}

.navbar .dropdown {
  display: inline-block;
}

.navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #4c38ee;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding-block: 10px;
  z-index: 1;
}

.top--nav__items li a:hover, .navbar .dropdown a:hover, .dropdown:hover {
    color: rgb(211, 205, 255);
  }

.navbar .dropdown-content a {
  display: block;
  padding: 1rem 0.8rem;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  margin-inline: 30px;
}

.navbar a span {
  margin-inline-start: 7px;
}

.main--header {
  /* position: relative; */
  display: flex;
  color: #fff;
  margin-block-start: 70px;
  min-height: 100vh;
}

.header--image {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-block: 20px 30px;
}

.header--image h3 {
  font-weight: 400;
}

.header--title {
  width: 500px;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.2;
  padding-block-end: 20px;
}

.header--text {
  width: 450px;
  font-size: 18px;
  padding-block-end: 20px;
}

.main--header__image img {
  position: absolute;
  width: 1000px;
  height: 892.66px;
  right: 100px;
  top: 80px;
}

.express--image {
  position: absolute;
  width: 1000px;
  height: 900px;
  right: -150px;
  top: 200px;
}

.forklift {
  position: absolute;
  width: 1000px;
  height: 900px;
  right: -150px;
  top: 230px;
}

.header--button {
  display: block;
  padding: 0.8rem 3rem;
  margin-block-start: 10px;
  color: rgba(41, 30, 246, 1);
  font-size: 14px;
  background-color: #fff;
  border-radius: 5px;
  border: 0;
}

.header--button:hover {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Main section */

main .container {
  padding-block: 20px;
  margin-block: 30px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 100px;
  margin-bottom: 20px;
}

.reverse {
  flex-direction: row-reverse;
}

.info h2 {
  color: rgba(76, 56, 238, 1);
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 20px;
}

.info .info-content p {
  font-size: 18px;
}

.info .express-info {
  background-image: url(images/Rectangle\ 4994.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  padding-block-end: 20px;
}

.info .express-info h2 {
  margin-left: 15px;
  margin-bottom: 40px;
}

.info .express-info p {
  margin-left: 15px;
}

.dispatch-rider {
  position: relative;
  top: -40px;
}

.contact-us {
  background: rgba(76, 56, 238, 1);
  color: #fff;
}

.contact-us .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 300px;
  column-gap: 50px;
}

.contact-us .container h2 {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 35px;
}

.contact-us .container button {
  display: block;
  padding: 0.8rem 1rem;
  width: 300px;
  margin-block-start: 30px;
  color: #fff;
  font-size: 14px;
  background-color: transparent;
  /* border-radius: 5px; */
  border: 1px solid white;
}

.contact-us .container button:hover {
  background-color: #fff;
  color: rgba(76, 56, 238, 1);
}

/* ==== Footer section ==== */
footer .container {
  margin-bottom: 100px;
}

footer .footer--logo {
  margin-block: 30px;
}

.footer--links {
  display: flex;
  justify-content: space-between;
}

.footer--links h3 {
  color: rgba(0, 0, 255, 1);
  margin-bottom: 40px;
  font-size: 18px;
}

.footer--links li a {
    text-decoration: none;
    color: rgba(18, 18, 18, 1);
}

.footer--links li a:hover {
    border-bottom: 2px solid rgba(0, 0, 255, 1);
}

.footer--links input {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  border: 0.5px solid white;
  border-radius: 5px;
}

.footer--links input::placeholder {
  color: rgba(196, 196, 196, 1);
  font-size: 16px;
}

.footer--links button {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  color: #fff;
  font-size: 14px;
  background: rgba(55, 34, 211, 1);
  border-radius: 4px;
  border: 0;
}

.footer--links button:hover {
  background: rgb(29, 13, 156);
}

.bottom-footer {
  display: flex;
  justify-content: space-evenly;
  color: rgba(55, 34, 211, 1);
  border-top: 1px solid rgba(60, 99, 176, 0.2);
  padding-block: 10px;
}
